@model ShedualeGenerator.Models.Teacher

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>Create</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                <input asp-for="ContractType" class="form-control" />
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avalability" class="control-label"></label>
                <input asp-for="Avalability" class="form-control" />
                <span asp-validation-for="Avalability" class="text-danger"></span>
            </div>
            <section>
                <select name="SubjectList" asp-items="@ViewBag.SubjectList" id="SubjectListId">
                    <option>Select--</option>
                </select>
                <div id="SubjectGroup">
                    <div class="card alert" style="width:min-content">
                        <div class="info-box-content mb-4">
                            <div class="card-body">
                                <button type="button" data-dismiss="alert">&times;</button>
                                <p class="info-box-text" id="SubjectName">Subject Name</p>
                                <p class="info-box-text">Semester</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <div class="form-group">
                <input type="hidden"  id="ListOfIds" />
            </div>
            <div class="form-group">
                <input type="submit" value="Creat" class="btn btn-primary" id="creatBtn" />
            </div>

        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    var SubjectIdsList = [];
    var counter = 0;
    $(document).ready(function () {

        var selList = document.getElementById("SubjectListId");
        

        $("#SubjectListId").change(function () {

            $.ajax({
                type: "GET",
                url: "/Teachers/GetSubject/?Id=" + $("#SubjectListId").val(),

                dataType: "JSON",
                success: function (data) {

                    createNodes(data[0].name, data[0].semester);
                    $('#SubjectListId option:selected').remove();


                  
                    SubjectIdsList[counter] = $("#SubjectListId").val();
                    counter++;
                    alert(SubjectIdsList);
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });
        });







        //var createbtn = document.getElementById("creatBtn");
        //createbtn.onclick(function () {
        //    alert("in the btn");
        //    console.log(SubjectIdsList);
        //    $.ajax({
        //        type: "GET",
        //        url: "/Teachers/AssignSubjectIds/",
        //        caches: false,
        //        data: JSON.stringify(SubjectIdsList),
        //        dataType: "JSON",
        //        traditional: true,
        //        success: function (data) {
        //            alert("Ok")
        //        },
        //        error: function (req, status, error) {
        //            console.log(msg);
        //        }
        //    });

        //});





        //var form = document.getElementById("createForm");

        //form.subm(function () {
        //    alert("in Submit");
        //});



    });

    function createOption(btn) {
        console.log("hi");
        console.log(btn.parentNode.childNodes[1]);



        $.ajax({
            type: "GET",
            url: "/Teachers/GetSubjectByName/?name=" + btn.parentNode.childNodes[1].textContent,

            dataType: "JSON",
            success: function (data) {
                console.log(data);
                console.log(data[0]);
                var element = document.createElement("option");
                element.setAttribute("value", data[0].id);
                element.textContent = data[0].name;
                document.getElementById("SubjectListId").appendChild(element);
                for (var i = 0; i < SubjectIdsList.length; i++) {
                    if (SubjectIdsList[i] == data[0].name)
                    {
                        SubjectIdsList.splice(i, 1);
                        counter--;
                    }
                }

                alert(SubjectIdsList);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    }
  






    function createNodes(Sname, Semester) {
        var div1 = document.createElement("div");
        div1.style.width = 'min-content';
        div1.classList.add("card", "alert");

        var div2 = document.createElement("div");
        div2.classList.add("info-box-content", "mb-4");

        var div3 = document.createElement("div");
        div3.classList.add("card-body");
        div3.setAttribute("id", "divparent");

        var btn = document.createElement("button");
        btn.setAttribute("type", "button");
        btn.setAttribute("data-dismiss", "alert");
        btn.setAttribute("onclick", "createOption(this)");
        btn.textContent = "x";


        var p1 = document.createElement("p");
        p1.classList.add("info-box-text");
        p1.setAttribute("id", "SubjectName")
        p1.textContent = Sname;

        var p2 = document.createElement("p");
        p2.classList.add("info-box-text");
        p2.textContent = Semester;

        div3.appendChild(btn);
        div3.appendChild(p1);
        div3.appendChild(p2);

        div1.appendChild(div2).appendChild(div3);

        document.getElementById("SubjectGroup").appendChild(div1);


    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
