@model ShedualeGenerator.Models.Teacher
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<h1>Create</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractType" class="control-label"></label>
                <input asp-for="ContractType" class="form-control" />
                <span asp-validation-for="ContractType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avalability" class="control-label"></label>
                <input asp-for="Avalability" class="form-control" />
                <span asp-validation-for="Avalability" class="text-danger"></span>
            </div>
            <section>
                <select  asp-items="@ViewBag.SubjectList" id="SubjectListId">
                    <option>Select--</option>
                </select>
                <div id="SubjectGroup">
                   @*this where the card are created*@
                </div>

            </section>
            <div class="form-group">
                <input type="hidden"  id="ListOfIds" />
            </div>
            <div class="form-group">
                <input type="submit" value="Creat" class="btn btn-primary" />
            </div>

        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
    var SubjectIdsList = [];
    
    $(document).ready(function () {

        var selList = document.getElementById("SubjectListId");
        

        $("#SubjectListId").change(function () {

            $.ajax({
                type: "GET",
                url: "/Teachers/GetSubject/?Id=" + $("#SubjectListId").val(),

                dataType: "JSON",
                success: function (data) {
                    SubjectIdsList.push(parseInt($("#SubjectListId").val()))
                    $.ajax({
                        type: "POST",
                        url: "/Teachers/AssignSubjectId/?id=" + $("#SubjectListId").val(),

                        dataType: "JSON",
                        success: function (data) {
                            console.log("Nested ajax Ok")
                        },
                        error: function (req, status, error) {
                            console.log(msg);
                        }
                    });
                    createNodes(data[0].name, data[0].semester);
                    $('#SubjectListId option:selected').remove();


                   
                   
                    
                },
                error: function (req, status, error) {
                    console.log(msg);
                }
            });

           


        });


      




        //var createbtn = document.getElementById("creatBtn");
        //createbtn.onclick(function () {
        //    alert("in the btn");
        //    console.log(SubjectIdsList);
            //$.ajax({
            //    type: "GET",
            //    url: "/Teachers/AssignSubjectIds/",
            //    caches: false,
            //    data: JSON.stringify(SubjectIdsList),
            //    dataType: "JSON",
            //    traditional: true,
            //    success: function (data) {
            //        alert("Ok")
            //    },
            //    error: function (req, status, error) {
            //        console.log(msg);
            //    }
            //});

        //});





        //var form = document.getElementById("createForm");

        //form.subm(function () {
        //    alert("in Submit");
        //});

    });


    //function OnFormSubmit() {
    //    var data = { SubjectIdsList }
    //    var myData = JSON.stringify({ "model": data });
    //    console.log(myData);
    //    $.ajax({
    //        contentType : 'application/json; charset=utf-8',
    //        dataType: "json",
    //        type: "POST",
    //        url: "/Teachers/AssignSubjectIds",
    //        //caches: false,
    //        //traditional: true,
    //        async: false,
    //        data: myData,
    //        success: function (data) {
    //            alert("Ok")
    //        },
    //        error: function (req, status, error) {
    //            console.log(msg);
    //        }
    //    });

    //}



   
    function createOption(btn) {
        console.log("hi");
        console.log(btn.parentNode.childNodes[1]);

        var idSend;

        $.ajax({
            type: "GET",
            url: "/Teachers/GetSubjectByName/?name=" + btn.parentNode.childNodes[1].textContent,

            dataType: "JSON",
            success: function (data) {
                console.log("data= " + data[0].id);
                $.ajax({
                    type: "POST",
                    url: "/Teachers/DeleteSubjectId/?id=" + data[0].id,

                    dataType: "JSON",
                    success: function (data) {
                        console.log("Ajax Ok")
                    },
                    error: function (req, status, error) {
                        console.log(msg);
                    }
                });
              
                var element = document.createElement("option");
                element.setAttribute("value", data[0].id);
                element.setAttribute("asp-for","SubjectIds")
                element.textContent = data[0].name;
                document.getElementById("SubjectListId").appendChild(element);
               
                

               
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
        
    }
  






    function createNodes(Sname, Semester) {
        var div1 = document.createElement("div");
        div1.style.width = 'min-content';
        div1.classList.add("card", "alert");

        var div2 = document.createElement("div");
        div2.classList.add("info-box-content", "mb-4");

        var div3 = document.createElement("div");
        div3.classList.add("card-body");
        div3.setAttribute("id", "divparent");

        var btn = document.createElement("button");
        btn.setAttribute("type", "button");
        btn.setAttribute("data-dismiss", "alert");
        btn.setAttribute("onclick", "createOption(this)");
        btn.textContent = "x";


        var p1 = document.createElement("p");
        p1.classList.add("info-box-text");
        p1.setAttribute("id", "SubjectName")
        p1.textContent = Sname;

        var p2 = document.createElement("p");
        p2.classList.add("info-box-text");
        p2.textContent = Semester;

        div3.appendChild(btn);
        div3.appendChild(p1);
        div3.appendChild(p2);

        div1.appendChild(div2).appendChild(div3);

        document.getElementById("SubjectGroup").appendChild(div1);


    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
