
@model ShedualeGenerator.Models.Subject


<div class="modal fade" id="CreateSubject">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="margin-left:33%">Create Subject</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Semester" class="control-label"></label>
                        <input asp-for="Semester" class="form-control" />
                        <span asp-validation-for="Semester" class="text-danger"></span>
                    </div>
                    <div style="margin-left: 60px; margin-right: 20px; margin-bottom: 20px; margin-top: 35px">
                        <button type="button" style="width:170px" class="btn btn-default  btn-flat" data-dismiss="modal">Close</button>
                        <input type="submit" style="width:170px" value="Create" class="btn btn-success btn-flat" />
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>